.button-container {
        display: flex;
        justify-content: center;
        


}

.container {

        display:flex;
        justify-content: center;
        margin-top: 16px;
        min-width: 700px;
        min-height: 700px;

}

button {

        width:150px;
        background-color: rgb(131, 187, 187);
        

}

#gridContainer {
        display:flex;
        flex-wrap: wrap;
        width: 700px;
        height: 700px;
        border: 3px solid black;
        

}

.panel {
        flex: 1 0 auto;
        background-color: rgb(208, 209, 208);
        border: 1px solid grey;
        width: 40px;
        height: auto;



}